html {
  font-family: "Pacifico", cursive;
}

main {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}

section div {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100vh;
  margin: 15px;
  text-align: center;


}

.arrow1 {
  background-image: url("/static/img/arrow_for_home_b.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  width: 50%;
  min-height: 100%;
  margin: 0;
}

.arrow2 {
  background-image: url("/static/img/arrow_for_home_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  width: 50%;
  min-height: 100%;
  margin: 0;
}

.arrow3 {
  background-image: url("/static/img/arrow_for_home_3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  width: 50%;
  min-height: 100%;
  margin: 0;
}

.best_meme_pic {
  max-width: 91%;
}

.indexbox {
  /*box-shadow: -1px 5px 4px rgba(44, 40, 36, 0.9);*/
  display: flex;
  max-height: 30vh;
  max-width: 60vh;
  align-items: center;
  background-image: url("/static/img/satir.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  border: 50px solid #b1a296;
  border-image: url("/static/img/border.png") 143 stretch;
  padding: 20px;
  margin: 5px;
}
.indexbox p {
  magin: 5px
}

main button {
  height: 20vh;
  width: 50vh;
  font-size: 30px;
  box-shadow: -1px 5px 4px #3f291f;
  background-image: url("/static/img/satir.png");
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #b1a296;
  font-family: "Pacifico", cursive;
  border-radius: 6px;
  animation: slow-pulser 2.8s infinite;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}
.underbutton {
  display: block;
  height: 20vh;
  width: 50vh;
  border-radius: 6px;
  background-color: rgba(44, 40, 36, 0.9);
  box-shadow: -1px 5px 4px rgba(44, 40, 36, 0.85);
}

@keyframes slow-pulser {
    0% {
      box-shadow: 0 0 0 -8px rgba(225, 173, 1, 0.75);

    }
    100% {
       box-shadow: 0 0 0 22px rgba(225, 173, 1, 0.5);
    }
  }

aside {
  display: flex;
  flex-direction: column;
  margin: 5px 2px 5px 2px;
  border: 2px;
  border-radius: 6px;
  padding: 3px;
  background-color: #e5e4e2;
  box-shadow: 3px 5px 4px rgba(44, 40, 36, 0.85);
  max-width: 20%;
  font-size: small;
  text-align: center;
  margin-left: 35px;
}

main aside img {
  filter: opacity(90%);
  margin: 5px 2px 2px 2px;
  box-shadow: 2px 3px 3px rgba(44, 40, 36, 0.85);
  border-radius: 5px;
}
