{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css_files/basic.css">
  <link rel="stylesheet" href="/static/css_files/new_form_style.css" />
{% endblock %}
{% block headline %}
        <div class = "headline">Edit questions</div>
{% endblock %}
{% block content%}

      <div class = "back_button">
        <form action="/questions/{{ q_id }}">
          <button id="home" type="submit" class="button">BACK</button>
        </form>
      </div>
      <div class="form-style-8">
        <form action="/question/{{ q_id }}/edit" method="post">
          <div>
            <label>Give your question a title:</label> <br />
            <input
              name="title"
              type="text"
              required
              minlength="3"
              value="{{ title }}"
            />
          </div>
          <div>
            <label>Type your question:</label> <br />
            <textarea id="message" name="message" rows="6" cols="60"> {{ message }}</textarea >
          </div>
          <button type="submit" class="button">Edit Question</button>
        </form>
      </div>
      <br>
      <br>
      <br>

{% endblock %}