{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css_files/basic.css"/>
    <link href="/static/css_files/users.css" rel="stylesheet"/>
{% endblock %}

{% block headline %}
    <div class="headline">Users</div>
{% endblock %}

{% block content %}
    <div class="users">
        {% for user in all_users %}
            <div class="user">
                <div class="username">{{ user["username"] }}</div>
                <div class="date"><b>Registration time:</b> {{ user["registration_time"] }}</div>
                <div class="num"><b>History:</b> {{ user['question_count'] }} question, {{ user['answer_count'] }} answer, {{ user['comment_count'] }} comment </div>

                <div class="reputation"><b>Reputation:</b> {{ user['reputation'] }}</div>
                <div class="user-view">
                    <form action="{{ url_for('user_page', user_id=user["user_id"]) }}">
                        <button class="user-button" id="home" type="submit" class="view">View</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}