{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css_files/basic.css">
<link rel="stylesheet" href="/static/css_files/question.css"/>
{% endblock %}
{% block headline %}
        <div class="headline">Question</div>
{% endblock %}
{% block content%}

    <div class="back_button">
        <form action="/list">
            <button
                    id="home"
                    type="submit"
                    class="button"
            >
                BACK
            </button>
        </form>
    </div>
    <br/>

    <div class="question">
        {% for user in all_users %}
            {% if current_question[0]["user_id"] == user['user_id']%}
                <div class = "user" > <a href="{{ url_for('user_page', user_id=user["user_id"]) }}"> @{{ user['username'] }}</a></div>
            {% endif %}
        {% endfor %}
        <div class="time">{{ current_question[0]["submission_time"] }}</div>
        <div class="title">{{ current_question[0]["title"] }}</div>
        <div class="message">{{ current_question[0]["message"] }}</div>
        {% if current_question[0]["image"] %}
            <div class="meme"><img src="/{{ current_question[0]["image"] }}" }></div>
        {% endif %}
        <div class="add-tag">
            <form action="{{ url_for('add_tags_to_question', question_id=question_id) }}">
                <button class="button" id="home" type="submit" class="view">Add tag</button>
            </form>
        </div>
        <div class="tags">
            {% for tag in tags %}
                {{ tag['name'] }} <a  href="{{ url_for('delete_tag_from_question', question_id=question_id, tag_id=tag['id']) }}">X</a>
            {% endfor %}
        </div>

        <div class="Q-comment">
            <form action="{{ url_for('add_comment_to_question', question_id=question_id) }}" method="GET">
                <input
                        id="new_comment"
                        name="new_comment"
                        type="submit"
                        class="button"
                        value="New Comment"
                />
            </form>
        </div>
        <div class="Q-edit">
            <form action="/question/{{ question_id }}/edit" method="GET">
                <input id="home" class="icon" name="question_id" type="image" src="/static/img/editpic2.png" alt="edit">
            </form>
        </div>
    </div>
    <br>
    <div class="comments">
        {% for comment in question_comments %}
            <div class="comment">
                {% for user in all_users %}
                    {% if comment["user_id"] == user['user_id']%}
                        <div class = "q-c-user" > <a href="{{ url_for('user_page', user_id=user["user_id"]) }}"> @{{ user['username'] }}</a></div>
                    {% endif %}
                {% endfor %}
                <div class="q-c-message">
                    {{ comment['message'] }}
                </div>
                <div class="q-c-time">
                    {{ comment['submission_time'] }}
                </div>
                <div class="q-c-delete">
                    <form action="/delete_comment/{{ comment['question_id'] }}/{{ comment['id'] }}">
                        <input class= "icon" id="delete_button" type="image"  onclick="return confirm('R U sure?')" src="/static/img/trash.png" alt="Delete" value="delete_button"/>
                    </form>
                </div>
                <div class="q-c-edit">
                    <form action="/edit_comment/{{ comment['question_id'] }}/{{ comment['id'] }}">
                        <input id="home" class="icon" name="question_id" type="image" src="/static/img/editpic2.png" alt="edit">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="new-answer">
        <form action="/question/{{ question_id }}/new-answer" method="POST">
          <input
            id="new_answer"
            name="new_answer"
            type="submit"
            class="button"
            width="60"
            value="New Answer"
          />
        </form>
    </div>
    <div class="answers">
        {% for row in current_answers %}
            <div class="answer">
                {% for user in all_users %}
                    {% if row["user_id"] == user['user_id']%}
                        <div class = "a-user" ><a href="{{ url_for('user_page', user_id=user["user_id"]) }}"> @{{ user['username'] }}</a></div>
                    {% endif %}
                {% endfor %}
                <div class="a-time">{{ row["submission_time"] }}</div>
                <div class="a-vote">{{ row["vote_number"] }}</div>
                <div class="a-message">{{ row["message"] }}</div>
                {% if row["image"] %}
                    <div class="a-meme"><img src="/{{ row["image"] }}"></div>
                {% endif %}
                <div class="a-delete">
                    <form action="/answer/{{ row['id'] }}/delete" method="POST">
                        <input class= "icon" id="delete_button" type="image" onclick="return confirm('R U sure?')" src="/static/img/trash.png" alt="Delete" value="delete_button"/>
                        <input   type="hidden" name="question_id"    value="{{ current_question[0]['id'] }}" />
                    </form>
                </div>
                <div class="a-vote-up">
                    <form action="/answer/{{ row['id'] }}/vote-up" method="POST">
                        <input type="hidden" name="question_id" value="{{ current_question[0]['id'] }}"/>
                        <input class= "icon" id="vote_up_button" name="vote_up_button" type="image" src="/static/img/arrows.webp.png" alt="Vote-up"  value="{{ row[0] }}">
                    </form>
                </div>
                <div class="a-vote-down">
                    <form action="/answer/{{ row['id'] }}/vote-down" method="POST">
                        <input type="hidden" name="question_id" value="{{ current_question[0]['id'] }}"/>
                        <input class= "icon" id="vote_down_button" name="vote_down_button" type="image" src="/static/img/arrow_down.png" alt="Vote-down" value="{{ row[0] }}">
                    </form>
                </div>
                <div class="a-edit">
                    <form action="/answer/{{ row["id"] }}/edit">
                        <input id="home" class="icon" name="question_id" type="image" src="/static/img/editpic2.png" alt="edit" value="{{ current_question[0]['id'] }}">
                    </form>
                </div>
                <div class="a-add-comment">
                    <form action="{{ url_for('add_comment_to_answer', answer_id=row["id"]) }}">
                        <button id="new_comment" type="submit" class="button" name="new_comment" value="{{ current_question[0]['id'] }}">New comment</button>
                    </form>
                </div>
                    <div class="a-accepted">
                {% if session.user_id == current_question[0]['user_id'] %}
                        <a href="{{ url_for('answer_status', answer_id=row['id'], question_id=question_id, status=row.accepted, user_id=row.user_id) }}">{{ 'Unaccept' if row.accepted else 'Accept' }}</a>
                {% else %}
                    {{ 'Accepted' if row.accepted else '' }}
                {% endif %}
                    </div>
            </div>
            <div class="a-comments">
                {% for comment in answer_comments %}
                    {% if comment['answer_id'] == row['id'] %}
                        <div class = "a-comment">
                            {% for user in all_users %}
                                {% if comment["user_id"] == user['user_id']%}
                                    <div class = "a-c-user" ><a href="{{ url_for('user_page', user_id=user["user_id"]) }}"> @{{ user['username'] }}</a></div>
                                {% endif %}
                            {% endfor %}
                            <div class= "a-c-time">
                                {{ comment['submission_time'] }}
                            </div>
                            <div class= "a-c-message">
                                {{ comment['message'] }}
                            </div>
                            <div class = "a-c-delete">

                                <form action="/delete_comment/{{ question_id }}/{{ comment['id'] }}">
                                    <input class= "icon" id="delete_button" type="image" onclick="return confirm('R U sure?')" src="/static/img/trash.png" alt="Delete" value="delete_button"/>
                                </form>
                            </div>
                            <div class = "a-c-edit">
                                <form action="/edit_comment/{{ comment['question_id'] }}/{{ comment['id'] }}">
                                    <input id="home" class="icon" name="question_id" type="image" src="/static/img/editpic2.png" alt="edit">

                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <br>
    <br />
    <br>
    <br>
    <br>

{% endblock %}