{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css_files/basic.css">
<link rel="stylesheet" href="/static/css_files/shop.css">
<link rel="stylesheet" href="/static/css_files/index_style.css">
{% endblock %}
{% block headline %}
        <div class="headline">Shop</div>
{% endblock %}
{% block content%}

      <main>
        <aside>
          <p>Favorite memes:</p>
          {% for i in list_of_best_memes %}
          <div>
            <a href="/questions/{{i[1]}}"><img class="best_meme_pic" src="{{i[0]}}" alt="{{i[0]}}" /> <br /></a>
            <p>{{i[2]}}</p>
          </div>
          {% endfor %}
        </aside>
      <section>

<div class="kontener">

  <div class="doboz">
    <h2 class="nev"></h2>
	<a href="">Buy Now</a>
	<div class="kor"></div>
    <div class="termekkep"><img src="/static/img/keychain.png" ></div>
  </div>
  <div class="doboz">
    <h2 class="nev"></h2>
	<a href="">Buy Now</a>
	<div class="kor"></div>
    <div class="termekkep"><img src="/static/img/hat.png" ></div>
  </div>
  <div class="doboz">
    <h2 class="nev"></h2>
	<a href="">Buy Now</a>
	<div class="kor"></div>
    <div class="termekkep"><img src="/static/img/mugs.png" ></div>
  </div>

</div>

   <script src="/static/js/vanilla-tilt.min.js"></script>
   <script>
     VanillaTilt.init(document.querySelectorAll(".doboz"), {
		max: 25,
		speed: 400
	});
   </script>

      </section>
      </main>
    <br><br><br>

{% endblock %}